* {
    box-sizing: border-box;
    border-radius: 4px;
    margin: 3px;
}

body {
    max-width: 1200px;
    background-color: lightslategrey;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

button:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.contenedorMain {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.caja {
    padding: 0.5em;
    border-radius: 15px;
    background-color: lightgray;
    box-shadow: 10px 10px 5px mediumpurple;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.flex {
    display: flex;
    padding: 3px;
}

.color {
    display: none;
}

.color:checked+label {
    border: 3px orange solid;
}

.verde,
.amarillo,
.rojo {
    display: block;
    width: 30px;
    height: 30px;
    border: 3px lightgray solid;
    margin: 0;
}

.verde:checked,
.amarillo:checked,
.rojo:checked {
    border: 3px orange solid;
}

.amarillo {
    background-color: yellow;
}

.verde {
    background-color: green;
}

.rojo {
    background-color: red;
}

.eliminar,
.nombreToDo,
.fechaLimite {
    margin-top: auto;
    margin-bottom: auto;
}

.eliminar {
    margin-left: auto;
    width: 3%;
    min-width: 1em;
}

.toDo {
    margin: 3px;
    display: flex;
}

.columns {
    flex-direction: column;
}

.nombreToDo {
    width: 40%;
}